/*janvier Zagabe */

body	{
	font-family: "Century Gothic", Arial, sans-sherif;
	font-size: 85%;
	text-align: center;
	margin: 12px;

	}
h1 	{	
	letter-spacing: 2px;
	font-weight: bold;
	}

h2 	{
	font-weight: bold;
	color: #330000;
	letter-spacing: 2px;
}
 a	{
	text-decoration: inline;
	color: blue;
	}



 th	
	{
background-color: #fff;
color: #000000;
	}



header 	a:visited
	{
	color: #66ff66;
	}
table, th, td
	{
    	border: 1px solid chocolate;
	}
	.tablecookies 
	{
    	background-color: #ffcc66;
	}
	#tablecookies 
	{
    	background-color: green;
	}







/*


<!DOCTYPE html>
<html>

<head>

		<title>struggle in single parenthood</title>
		<meta charest="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content=“CIS 152 final project webpage”>
		<meta name=“author” content=“Janvier Zagabe”>
		<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
		<link rel="stylesheet"href="https://cdnjs.cloudflare.com/ajax/libs/fontawesome/4.6.3/css/font-awesome.min.css"> <!--social media links-->
		<link href="style11.css" rel="stylesheet" type"text/css"/>

	<style>
		table, th, td
			{
    			border: 1px solid #663300;
			background-color: #fff;
			border-collapse: no collapse;
			width: 45%;
			}
		thead { color: ;}
		#tablecookies 
			{
    			background-color: #ffcc66;
			}
		#tablecookies 
			{
    			background-color: #ffcc66;
			}
	</style>
</head>

<body>
<div id ="container">

		<strong>
			 <h1> Homemade cookies </h1>
		</strong>

			<p><i>by Janvier Zagabe </i></p><br><br>
	<p>
		Our old-fashioned, hand made cookies are an excellent gift for many occasions. 
		Do you need a homemade gift for college students needing a goodie box from home, 
		new neighbors, a thank you for someone who has done something nice for you, a 
		special customer, or anyone deserving of a very special treat?! 
	</p>
<div id="content">

<table>
        <thead>
	<tr id=" tablecookies">
		<th >Cookie types</th>
		<th>Price for 1</th>
     		<th>Price for 2</th>
     		<th>Price for 3</th>
	</tr>
        </theead>
<tbody>
	<tr id=" col1">
		<td>Chocolate Chip</td>
		<td>$2.00</td>
     		<td>$5.00</td>
      		<td> $19.00</td>
	</tr>

	<tr id=" col2">
    		<td>Lemon</td>
    		<td>$1.50</td>
     		<td>$4.00</td>
     		 <td>$15.oo</td>
  	</tr>
  
 	<tr id=" col3">
    		<td>Macadamia nut</td>
    		<td>$2.00</td>
    		<td>$5.00</td>
      		<td>$19.00</td>
 	</tr>
    
  	<tr id=" col4">
    		<td>NoBakes</td>
    		<td>$1.00</td>
     		<td>$2.50</td>
      		<td>$9.00</td>
  	</tr>

      
  	<tr id=" col5">
   		 <td>Peanut Butter</td>
    		<td>$1.50</td>
     		<td>4.00</td>
      		<td>$15.00</td>
	</tr>

 	 <tr id=" col6">
    		<td>Snackerdoolers</td>
    		<td>$1.00</td>
     		<td>$2.50</td>
    		<td>$10.00</td>
  	</tr>
         </tbody>
</table>

	<h2>
		Pure Ingredients 
	</h2>
	<p>
		All of our cookies are made from scratch the old-fashioned way using the finest quality, 
		all natural ingredients like gourmet semi-sweet chocolate, premium flour, unsalted sweet 
		cream butter, eggs, vanilla and fresh nuts. We use no preservatives, no transfats, and no 
		artificial flavors or colors. 
	</p>

	<h2>
		Free Shipping 
	</h2>
	<p>
		All of our treats are baked, wrapped carefully for ultimate freshness, and shipped by United States Postal Service Priority Mail. The cost of shipping is included in the 		price of the cookies. 	
	</p>
<strong>
	<h1> 
		Parkalnd College Web Development
	</h1>
</strong>
<table class="w3-center">
  	<tr id=" tableParkland">
		<th>
			Course
		</th>
		<th>
			Title
		</th>
     		<th>
			Semester
		</th>
    		<th>
			Credits
		</th>
 	 </tr>

	<tr id=" row1">
    		<td>CIS 151</td>
    		<td>Web Skills Creating Web Pages</td>
    		 <td>All</td>
     		 <td>2</td>
	</tr>
  
	<tr id=" row2">
   		 <td>CIS 152</td>
    		<td>Web Development I</td>
    		<td>All</td>
      		<td>3</td>
 	</tr>
    
	<tr id=" row3">
   		 <td>CSC 152 </td>
    		<td>Web Development II</td>
    		 <td> Fall Spring</td>
      		<td>3</td>
  	</tr>

      
	<tr id=" row4">
    		<td>CSC 155</td>
    		<td>CGI with Perl</td>
     		<td> Fall Spring</td>
      		<td>3</td>
	</tr>

	<tr id=" row5">
    		<td>CSC 175</td>
   	 	<td>Introduction to Javascript Programming</td>
     		<td>FAll Spring</td>
      		<td>3</td>
 	 </tr>


	<tr id=" row6">
    		<td>CSC 177</td>
    		<td>Active Server Pages</td>
     		<td>Fall Spring</td>
     		 <td>3</td>
  	</tr>
  
	<tr id=" row7">
   		 <td>CSC 255</td>
    		<td>Topics in Web Programming</td>
   		 <td>Fall Spring</td>
     		 <td>4</td>
 	</tr>
    
	<tr id=" row8">
    		<td>CTC 136</td>
    		<td>Web Pages Coding Topics</td>
     		<td>All</td>
      		<td>1</td>
  	</tr>

	<tr id=" row9">
    		<td>CTC 137</td>
    		<td>Dreamweaver I</td>
     		<td>All</td>
      		<td>1</td>
	</tr>

	<tr id=" row10">
    		<td>CTC 138</td>
    		<td>Dreamweaver II</td>
     		<td>All</td>
      		<td>1</td>
  	</tr>

	<tr id=" row11">
    		<td>CTC 196</td>
    		<td>Creating Web Pages Using HTML</td>
     		<td>All</td>
      		<td>1</td>
	</tr>
</table>

</div> <!--end of content-->
	
		<footer class="w3-container w3-center w3-black">
			<p class="w3-xxsmall ">
				&#169; 2017 Janvier Zagabe All Rights Reserved | Designed by <a href="https://www.w3schools.com/w3css/default.asp" 							target="_blank">w3.css</a>
			</p>
		</footer> 
</div> <!--end container-->



</body>
</html>
*/
	