
/* CSS Janvier Zagabe */

body
	{
	background-image: url(comptech.jpg);
	background-repeat: repeat;
	padding-top: 2em; 
	padding-right: 4em; 
	padding-bottom: 2em; 
	padding-left: 4em;
	}
header 
	{
	background-image:url('head.jpg') ;
	background-repeat: no-repeat;
	text-align: center;
	}

#container 
	{
	background-color: #FFF;
	color: #000;
	border: 5px solid #57779D;
	margin-top: auto; 
	margin-right: auto; 
	margin-bottom: auto; 
	margin-left: 0;
	line-height: 1.5em;
	font-family: "Trebchet MS", Arial, sans-sherif;
	font-size: .9em;
	height: 100px;
	width: 770px;
	}

.current{ color: yellow;
	}

#content
	{
	background-color: #FFFFFF;
	padding: 1em;
	border: 5px solid #57779D;
	}
footer
	{ 
	background-color: white;
	font-size: .9em;
	text-align: center;
	border: 5px solid #57779D;
	}
nav li
	{
	font-family: Arial, DHelvetica, sans-sherif;
	font-weight: bold;
	text-align: center;
	padding-top: 33px; 
	padding-right: 39px; 
	padding-bottom: 5px; 
	padding-left: 35px;
	background-color: #57779D;
	color: #FFFFFF;
	font-weight: bold;
	display: inline;
}
#container h1 	
	{
	padding-top: 40px; 
	padding-right: 0; 
	padding-bottom: 45px; 
	padding-left: 100px;
	margin: 0;
	letter-spacing: 3px;
	}
#content h2	
	{
	background-color: #FFFFFF;
	margin: 1em 0 .5em 0;
	letter-spacing: 3px;
	padding-right: .4em;
	}

li	
	{
	padding-top: 5px; 
	padding-right: 0; 
	padding-bottom: 5px; 
	padding-left: 0px;
	}
p
	{
	padding-top: 0; 
	padding-right: 2em; 
	padding-bottom: 0; 
	padding-left: 2em;
	background-color: #FFFFFF;
	}




















/
*	}
#noshow 
	{
	display: none;
	}
background-color: #FFFFFF;
	padding-top: 0; 
	padding-right: 10; 
	padding-bottom: 5px; 
	padding-left: 10px;
	background-color: #57779D;
	color: #FFffff; */