/*CSS Janvier Zagabe*/

body	{
  	background-color: #ccffff;
	font-family: "Times New Roman", Times, serif;
		}

h1	{ 
	color: black;
	margin-bottom: .2em;
	letter-spacing: .5em;
	pedding-bottom: .2em;
	border-bottom: 12px double green;
		}
p 	{
	line-height: 1.25em;
	}
img 	{ border:4px solid #FFFF00;
	padding: 12px;
	background-color: #663300;
	color: red;
	}
a	{ color: blue;
	font-weight: bold;
	}
h2
	{	
	color: #006633;
	background-color: #ccffff;
	padding:.4em;
	border-top: 12px double white;
	border-bottom: 12px double white;
	margin-top:.2em;
     	
 		}

