/*janvier Zagabe */
* { 
	padding: 0;
	margin: 0;
	}



body
	{
	font-family: "Century Gothic", Arial, sans-sherif;
	font-size: 85%;
	line-height: 1.5em;
	background: url(o-SINGLE-PARENT.jpg) repeat;
	
	}


h1 {	
	padding: 1em;
	font-size: 200%;
	letter-spacing: 2px;
	font-weight: lighter;}


h2
	{
	padding: 30px 35px 30px 10px;
	font-size: 125%;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #366;
	background: url(mom-daugther.gif) no-repeat right center;
	height: 2.5em;
	}
nav a	
	{
	text-decoration: inline;
	}


#container
	{
	width: 922px;
	margin-top: 0;
	margin-bottom: 0;
	margin-right: auto;
	margin-left: auto;
	border-width: 1px;
	border-style: solid;
	border-color: #E2F2EC;	
	background: url(o-SINGLE-PARENT.jpg) repeat;
}










#nav li	{
	list-style-type: 36px;
	height: 36px;
	text-transform: uppercase;
	font-size: .9em;
	font-weight: bold;
	font-family: Helvetica, Arial, sans-serif;
	border-bottom: 4px;
	border-top: 1px;
	border-top-color: sold #C0E2D4;
	}



 li	{
	display property: inline;
	}

 

header nav	{
	float: left;
	color: #880402;
	padding: 20px;
	height:  24px;
	margin: 0;
	background-color: #FFF;
	
	}



header 
	{
	width:100%;
	color: black;
	background-color: #B6DACB;
	background: url(o-SINGLE-PARENT.jpg) repeat;
	
	}


header p
	{
	
	color: black;
	}

header nav
	{
	padding: 57px;
	color: black;
	margin:0;
	}

header h2
	{
	color: black;
	}


header h1
	{
	margin: 0;
	color: red;
	text-transform: uppercase;
	}



#banner{
	width: 902px;
	height: 150px;
	padding-right: 20px;
	background-color: #000;
	background-image: url(donutDelightsLogo.png);
	background-repeat: no-repeat;
	}




footer	
	{
	font-size: 100%;
	color: #ffffff;
	margin: 27px;
	}





.Imgleft{
	float: left;
	padding: 10px;
	}
.highlight
	{
	background-color: #FFF;
	color: #000;
	}



a:link,	a:visited
	{
	color: #880402;
	}
a:hover:{color: #00515C;
	}

h3 {
	overflow: left;
	}

header h1 
	{
	text-align: center;
	font-weight: bold;
	}

nav .current{
	color: yellow;
	}